@page
@model Quizzardry.Pages.Game.IndexModel
@{
    ViewData["Title"] = "Index";
    string aspnet = "@aspnet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="data-half">
    <div class="container mx-auto text-center">
        <h1 class="font-weight-bold">QUIZZARDRY</h1>
        <h5>https://quizzardry.azurewebsites.net/</h5>
        <div id="user-number">

        </div>
    </div>

    <div id="winner" class="hidden">
        <ul id="winnerList"></ul>
        <button id="resetButton">Start a New Game</button>
    </div>

    <div class="mx-auto mt-4" id="questions">

    </div>
</div>

<div id="messageScroll" class="overflow-y">
    <hr />
    <ul class="list-unstyled" id="messagesList"></ul>
</div>
<div class="message-interface">
    <input type="hidden" id="userInput" value="@Model.Player.Name" />
    <br />
    <div class="messageButtons d-flex">
        <input type="text" id="messageInput" />
        <input class="btn" type="button" id="sendButton" value="Send" />
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="~/lib/@aspnet/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>
