@page
@model Quizzardry.Pages.Game.IndexModel
@{
  ViewData["Title"] = "Index";
    string aspnet = "@aspnet";
}

<h2>Index</h2>

<div class="row">
  <div class="col-6">&nbsp;</div>
  <div class="col-6">
    <ul id="messagesList"></ul>
  </div>
</div>


<script src="~/lib/@aspnet/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>