<!DOCTYPE html>
<html>
<head>
    <title>Trivia</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" />
    <link href="~/css/style.css" rel="stylesheet" />
</head>
<body>
    <main class="contatiner p-3">
        <div class="sub-main">
            @RenderBody()
        </div>
    </main>
</body>
</html>
