body {
  background-color: #92DCE5; }

main {
  color: #7c7c7c;
  margin: 15px auto;
  width: 85%; }

.hidden {
  display: none; }

@media (max-width: 800px) {
  main {
    margin: 0;
    width: 100%; } }

.removeMe {
  display: none; }
