@page
@using Quizzardry.Models;
@model Quizzardry.Pages.IndexModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

Hey there

<div class="col-6">
  <form method="post">
    User..........<input asp-for="Player.Name" type="text"/>
    <br />
    <button class="login-info manage" type="submit" asp-page-handler="update">Enter</button>
  </form>
</div>