html, body {
    height: 100%;
}

body {
    background-color: #f1f1f1;
}

main {
    background-color: #f1e3c0;
    border-radius: 10px;
    color: #393e46;
    display: flex;
    flex-direction: column;
    margin: 1% auto;
    width: 56%;
    height: 96vh;
}

#red {
    color: red;
}

#green {
    color: green;
}

.hidden {
    display: none;
}

h1 {
    color: #be352a;
}

.btn {
    background-color: #cccccc;
}

#messageInput {
    width: 90%;
}

#data-half {
    height: 75%;
}

#messageScroll ul {
    height: 24vh;
    overflow-y: auto;
    text-wrap: normal;
    display: flex;
    flex-direction: column-reverse;
}

#winnerList {
    overflow-y: auto;
    height: 30%;
    padding: 0;
}

@media (max-width: 720px) {
    body {
        height: 100%;
        background-color: #f1e3c0;
        font-size: .8em;
    }

    .container {
        height: 90%;
        width: 100%;
    }

    .sub-main {
        height: 100%;
    }

    .messageButtons {
        position: relative;
        bottom: 3%;
    }

    #messageInput {
        width: 82%;
    }

    #messageScroll ul {
        height: 12vh;
    }
}

.removeMe {
    display: none;
}
