body {
    background-color: $background;
}

main {
    background-color: $container;
    border-radius: 10px;
    color: $main-text;
    display: flex;
    flex-direction: column;
    height: 98vh;
    margin: 1vh auto;
    width: 50%;
}

.hidden {
    display: none;
}

h1 {
    color: $heading;
}

.btn {
    background-color: $accent-color;
}

#sendButton {
    width: max-content;
}

#messageInput {
    width: 90%;
}

#data-half {
    height: 75vh;
}

#messageScroll ul {
    height: 15vh;
    overflow-y: auto;
    text-wrap: normal;
    display: flex;
    flex-direction: column-reverse;
}

.messageInterface {
    height: auto;
}

@media (max-width: 720px) {
    main {
        width: 100%;
    }
}